<h1>Activity</h1>
<div class="spacer">&nbsp;</div>

<div class="activityWidgets">
	
<% @orders["orders"].each do |order| %>	
	<% unless order["status"]=="unknown" %>
		<div class="activityWidget">
			<div class="profileActivityImage">
				<div class="profileAvatarActivity">
					<% if order["data"]["user"]["picture"].nil? %>
						<img class="profileAvatar-image" src="http://3.bp.blogspot.com/-G5aIFyMZ7f0/T70hqGlbb5I/AAAAAAAAK_Q/FYMbyJz2SXU/s1600/Question_mark.PNG" width="250" />
					<% else %>
						<img class="profileAvatar-image" src=<%= order["data"]["user"]["picture"]%> width="250" />
					<% end %>
				</div>
			</div>
				<div class="activityDescription">
					<p><strong><%= order["data"]["user"]["firstName"] %> <%= order["data"]["user"]["lastName"] %></strong> earned <%= order["data"]["orderDetails"]["basePoints"] %> points for "<%= order["data"]["orderDetails"]["recipientMessage"] %>". Way to go!</p>
				</div>
		</div>
	<% end %>
<% end %>

	<div>
		<a href="/account/activity?limit=10&offset=<%=@prev%>">Newer</a> &nbsp;&nbsp;
		<a href="/account/activity?limit=10&offset=<%=@next%>">Older</a>

	</div>
</div>