<h1>Your Deets</h1>
<div class="spacer">&nbsp;</div>
<div class="profileDeets">
	<p class="lead">
		<h2><strong><%= @mv["firstName"] %> <%= @mv["lastName"] %></strong></h2>
		<p><em><%= @mv["email"] %></em></p>
		<p>
			<span class="profileAttribute">Joined Points:</span> ?<br />
			<span class="profileAttribute">Department:</span> ?<br />
			<span class="profileAttribute">Office:</span> Toronto<br />
		</p>

	</p>
</div>
<div class="profileImage">
	<div class="profileAvatar">
		<img class="profileAvatar-image" src="<%= @mv["picture"] %>0" width="250" />
	</div>
</div>
<div style="clear: both;">&nbsp;</div>
<div class="profileWidgets">
	<div class="profileWidget">
		<p><strong>Earned</strong></p>
		<p><%= @mv["pointsEarned"] %> </p>
	</div>
	<div class="profileWidget">
		<p><strong>Given</strong></p>
		<p><%= @mv["pointsGiven"] %></p>
	</div>
	<div class="profileWidget">
		<p><strong>Ranking</strong></p>
		<p>TBD</p>
	</div>
</div>
<div></div>