<h1>Your Deets</h1>
<div class="spacer">&nbsp;</div>
<div class="profileDeets">
	<p class="lead">
		<h2><strong><%= @mv["firstName"] %></strong></h2>
		<p><em><%= @mv["email"] %></em></p>
		<p>
			<span class="profileAttribute">Full Name:</span><%= @mv["firstName"] %> <%= @mv["lastName"] %><br />
			<span class="profileAttribute">Fitbit:</span><% if @mv["fitbitRegistered"] == true  %>You are burning to earn!<% elsif @mv["fitbitRegistered"] == false %><a href="https://plp-api.herokuapp.com/registerfitbit?<%= @mv["email"] %>">Start burning to earn today!</a><% end %><br />
			<span class="profileAttribute">Member Since:</span> Time immemorial<br />
		</p>

	</p>
</div>
<div class="profileImage">
	<div class="profileAvatar">
		<img class="profileAvatar-image" src="<%= @mv["picture"] %>0" width="250" />
	</div>
</div>
<div style="clear: both;">&nbsp;</div>
<div class="profileWidgets">
	<div class="profileWidget">
		<p><strong>Earned</strong></p>
		<p><%= @mv["pointsEarned"] %> </p>
	</div>
	<div class="profileWidget">
		<p><strong>Given</strong></p>
		<p><%= @mv["pointsGiven"] %></p>
	</div>
	<div class="profileWidget">
		<p><strong>Ranking</strong></p>
		<p>TBD</p>
	</div>
	<!--div class="profileWidget">
		<p><strong>Fitbit</strong></p>
		<% if @mv["fitbitRegistered"] == true  %>
		<p>Registered</p>
		<% elsif @mv["fitbitRegistered"] == false %>
		<p><a href="https://plp-api.herokuapp.com/registerfitbit?<%= @mv["email"] %>">Register</a></p>
		<% end %>
	</div-->
</div>
<div></div>