<h1>Your Deets</h1>
<div class="spacer">&nbsp;</div>
<div class="profileDeets">
	<p class="lead">
		<h2><strong><%= @member["name"]["givenName"] %> <%= @member["name"]["familyName"] %></strong></h2>
		<p><em><%= @member["emails"][0]["value"] %></em></p>
		<p>
			<span class="profileAttribute">Joined Points:</span> ?<br />
			<span class="profileAttribute">Department:</span> ?<br />
			<span class="profileAttribute">Office:</span> Toronto<br />
		</p>

	</p>
</div>
<div class="profileImage">
	<div class="profileAvatar">
		<img class="profileAvatar-image" src="<%= @member["image"]["url"] %>0" width="250" />
	</div>
</div>
<div style="clear: both;">&nbsp;</div>
<div class="profileWidgets">
	<div class="profileWidget">
		<p><strong>Earned</strong></p>
		<p><%= @mv["balance"] %> </p>
	</div>
	<!-- 
	<div class="profileWidget">
		<p><strong>Given</strong></p>
		<p>0</p>
	</div>
	<div class="profileWidget">
		<p><strong>Ranking</strong></p>
		<p>#1</p>
	</div>
	-->
</div>
<div></div>